/* assets/css/custom.css */
.home .custom-content {
  text-align: center;
}

.home .custom-content .featured-species {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home .custom-content .species {
  text-align: center;
}

.home .custom-content .species img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* assets/css/custom.css */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  position: relative;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav li:hover .dropdown-menu {
  display: block;
}

nav .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav .dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/* assets/css/custom.css */
.content {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.main-content {
  flex: 1;
  padding: 20px; /* General padding */
  margin-left: 0px; /* Space for the sidebar */
}

.sidebar {
  width: 200px;
  position: relative;
  top: auto; /* Adjust as needed */
  left: auto; /* Start from the left edge */
  bottom: auto;
  background: #f7f7f7;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.toc ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #FF0000;
}

.toc li {
  margin-bottom: 0px; /* Add some spacing between links */
}

.toc a {
  display: block; /* Ensure each link is on a new line */
  text-decoration: none;
  color: #000000;
}

.toc a:hover {
  text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  .content {
    flex-direction: column; /* Stack the sidebar and content vertically */
  }

  .main-content {
    margin-left: 0; /* Remove left margin for smaller screens */
    padding-left: 0;
  }

  .sidebar {
    position: relative; /* Make the sidebar relative instead of fixed */
    top: auto;
    left: auto;
    width: 100%; /* Full width for smaller screens */
    margin-bottom: auto; /* Add some margin below the sidebar */
  }
}