---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="custom-content">
    <h2>Welcome to Monarda Taxonomy Online</h2>
    <p>This website is dedicated to the taxonomy, biogeography, and evolution in the genus Monarda, featuring species profiles with detailed descriptions, pictures, and microscope images of herbarium specimens. <b>It is a work in progress, and I welcome contributions.</b></p>

    <h3>About Monarda</h3>
    <p>The genus Monarda, belonging to the mint family (Lamiaceae), is endemic to North America and is known for its showy floral displays. It has traditionally been valued for its aromatic and medicinal + culinary properties, and it is ecologically important for its appeal to pollinators. The genus includes around 25 species, but ongoing research seeks to determine relationships among these species and the standing of currently unrecognized, but distinct, taxa. Furthermore, several of the species appear to be involved in natural hybridization, some of which is also described here.</p>

    <h3>Featured Species</h3>
    <div class="featured-species">
      <div class="species">
        <img src="/assets/images/monarda_punctata/1.jpg" alt="Monarda punctata">
        <h4>Monarda punctata</h4>
      </div>
      <div class="species">
        <img src="/assets/images/monarda_stanfieldii/1.jpg" alt="Monarda stanfieldii">
        <h4>Monarda stanfieldii</h4>
      </div>
      <div class="species">
        <img src="/assets/images/monarda_humilis/1.jpg" alt="Monarda humilis">
        <h4>Monarda humilis</h4>
      </div>
      <div class="species">
        <img src="/assets/images/monarda_viridissima/1.jpg" alt="Monarda monarda_viridissima">
        <h4>Monarda viridissima</h4>
      </div>
      <div class="species">
        <img src="/assets/images/monarda_clinopodioides/1.jpg" alt="Monarda monarda_clinopodioides">
        <h4>Monarda clinopodioides</h4>
      </div>
    </div>
  </div>
</div>
