---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="custom-content">
    <h2>Welcome to Monarda Taxonomy</h2>
    <p>This website is dedicated to the study and classification of the genus Monarda, featuring species profiles with detailed descriptions and microscope images of herbarium specimens.</p>

    <h3>About Monarda</h3>
    <p>The genus Monarda, belonging to the mint family (Lamiaceae), is known for its aromatic and medicinal properties. Commonly known as bee balm, these plants are native to North America and are highly valued for their vibrant flowers and ecological importance.</p>

    <h3>Featured Species</h3>
    <div class="featured-species">
      <div class="species">
        <img src="/assets/images/monarda_punctata/1.jpg" alt="Monarda punctata">
        <h4>Monarda punctata</h4>
      </div>
      <div class="species">
        <img src="/assets/images/monarda_stanfieldii/1.jpg" alt="Monarda stanfieldii">
        <h4>Monarda stanfieldii</h4>
      </div>
      <div class="species">
        <img src="/assets/images/monarda_humilis/1.jpg" alt="Monarda humilis">
        <h4>Monarda humilis</h4>
      </div>
      <div class="species">
        <img src="/assets/images/monarda_viridissima/1.jpg" alt="Monarda monarda_viridissima">
        <h4>Monarda viridissima</h4>
      </div>
      <div class="species">
        <img src="/assets/images/monarda_clinopodioides/1.jpg" alt="Monarda monarda_clinopodioides">
        <h4>Monarda clinopodioides</h4>
      </div>
    </div>
  </div>
</div>
